<%- include('header'); -%>
 <p> This is awesome to do list website created by Divya Ya at The  To Do List </p>
 <a href="/"><button class="btn btn-lg btn-warning">Go Home</button></a>
<%- include('footer'); -%>
